.main.panel.panel-default.z-depth-4
  .panel-body
    .media
      .media-left
        img.media-object.circle(src='https://mms.businesswire.com/media/20190122005910/en/701785/5/Camila-x-MC.jpg')
      .media-body
        p
          | Neo Motto 
          span.time (13 min. ago)
        span
          i.fa.fa-ellipsis-h.right

    .post
      p.caption
        | Flexin' - Lit Killah & Bizarrap

      video.vid(controls='' width="100%" height="" autoplay loop muted)
        source(src='https://v16m.tiktokcdn.com/999f9d0532d832cd1e8d00f9f09cff82/5f54b743/video/tos/alisg/tos-alisg-pve-0037/b0fc053021a74716a23b8232b3e8b9b8/?a=1233&br=2712&bt=1356&cr=0&cs=0&cv=1&dr=0&ds=3&er=&l=202009060417230101902180934F01B926&lr=tiktok_m&mime_type=video_mp4&qs=0&rc=M3RybWlpdjdldzMzODczM0ApM2g0OWRpZDxpNzg0ODppNWcuMnNybV9vMTBfLS0vMTRzc2M1NDRiXzRgNjQtYzRhLTA6Yw%3D%3D&vl=&vr=' type='video/mp4')
        |   Your browser does not support HTML video.

      p.iconsec
        i.fa.fa-heart-o
        i.fa.fa-share
        span.right
          b 4 likes
      p.caption
        | What do you think ?
        i.fa.fa-frown-o
        a(href='https://bbbootstrap.com') BBBootstrap.com
      p.read
        | Read 2 Comments 
        span.right
          b Add Comment
          i.fa.fa-comment-o
    .menu
      center
        a(href='#')
          i.fa.fa-home
        a(href='#')
          i.fa.fa-search
        a(href='#')
          i.fa.fa-user
    center
      //- a#open.btn(href='#')
      //-   i.fa.fa-plus
