
.position-fixed
  ul.nav.nav-pills.flex-column.text-center
    li.nav-item
      a.nav-link.active(href='/')
        i.fas.fa-burn
        | Feed

  hr
  .container
    p.float-left
      | © 2020 
      i.fas.fa-burn
      | Tok Tok.
    p.float-left
      //- a(href='https://github.com/cristianemoyano/toctoc') GitHub Project