footer
  .container.text-center
    p.float-left 
      | © 2020 
      i.fas.fa-burn
      | Tok Tok. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        //- a(href='https://github.com/cristianemoyano/toctoc') GitHub Project

