extends ../layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h2 Upload your video
        h4 This video will be uploaded.

    form(method='POST' enctype='multipart/form-data')
        input(type='hidden', name='_csrf', value=_csrf)

        .form-group
            label(class='col-md-2 col-form-label font-weight-bold', for='title') Video Title
            input.form-control(type='text', name='title', id='title', autocomplete='title', placeholder='Here your video title..', autofocus, required)
        
        .form-group
            label(class='col-md-2 col-form-label font-weight-bold', for='source') Select your video
            input.form-control(type='file', name='source', id='source', required)
        
        button.btn.btn-primary(type='submit') Upload
